# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.expense-tracker/

# Flask
instance/
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
build/
dist/

# Logs
*.log